{%- set projectName = 'diagnostics_infrastructure' %}
{%- set projectDir  = 'diagnostics_infrastructure' %}
{%- set miniappFlag = True %}
{%- set fix_enums   = False %}

{# Set the  compiler debug profile for runs in this suite #}
{# Options are ['fast-debug'|'full-debug'|'production'], omission defaults to 'fast-debug' #}
{%- set run_application_profile = '' %}

{%- set appDiagStemName = 'diagDiagnostics_Infrastructure' %}
{%- set rdef_default    = "64" %}
{%- set mesh_rdef       = "64" %}
{%- set mesh_build      = "fast-debug" %}

{%- set application_configurations = { 'diagnostics_infrastructure' : ['default'] } %}

{%- set canned_configurations  = ['diagnostics_infrastructure'] %}

{%- set groups = {
'developer': [
    'validate_rose_meta_graph("diagnostics_infrastructure")',
    'check_style_graph()',
    'run_application("diagnostics_infrastructure", "default", resolutions=[("C3",)])',
    'check_compilers("diagnostics_infrastructure", "default", "fast-debug", resolution=("C3",))',
    'check_compilers("diagnostics_infrastructure", "default", "full-debug", resolution=("C3",))',
    'canned_test("diagnostics_infrastructure")'],
'nightly': [
    'null_task_graph()'] } %}

#########################################################################################

{# Include any local miniapp include files here #}
%include inc/MyMiniappIncludeFile.rc
