{%- set projectName = 'solver_miniapp' %}
{%- set projectDir  = 'solver_miniapp' %}
{%- set miniappFlag = True %}
{%- set fix_enums   = False %}

{# Set the  compiler debug profile for runs in this suite #}
{# Options are ['fast-debug'|'full-debug'|'production'], omission defaults to 'fast-debug' #}
{%- set run_application_profile = '' %}

{%- set appDiagStemName = 'diagSolverApi' %}
{%- set rdef_default    = "64" %}
{%- set mesh_rdef       = "64" %}
{%- set mesh_build      = "fast-debug" %}

{%- set application_configurations = { 'solver_miniapp' : ['cg','bicgstab','gmres','jacobi','default'] } %}

{%- set canned_configurations  = ['solver_miniapp'] %}

{%- set groups = {
'developer': [
    'validate_rose_meta_graph("solver_miniapp")',
    'check_style_graph()',
    'api_documentation_graph(publish=True)',
    'run_application("solver_miniapp", "cg", resolutions=[("C24", 600.0)],
                     run_with_compilers='~TARGET_SOLVER_COMPILER~')',
    'run_application("solver_miniapp", "bicgstab",
                     resolutions=[("C24", 600.0)],
                     run_with_compilers='~TARGET_SOLVER_COMPILER~')',
    'run_application("solver_miniapp", "jacobi",
                     resolutions=[["C24", 600.0]],
                     run_with_compilers='~TARGET_SOLVER_COMPILER~')',
    'run_application("solver_miniapp", "gmres", resolutions=[["C24", 600.0]],
                     run_with_compilers='~TARGET_GMRES_COMPILER~')' ],
'nightly': [
    'null_task_graph()' ] } %}

#########################################################################################
