{# Set up lfric2um specific runtime tasks #}

{% if include_mode == "graph" %}

                fcm_make-lfric2um-{{build}} => \
                configurate-lfric2um-{{build}} => \
                psyclone-lfric2um-{{build}} => \
                fcm_make2-lfric2um-{{build}}

  {% if "crayftn" not in build %}
                fcm_make2-lfric2um-{{build}} =>
                lfric2um-{{build}}-{{config}} => \
                rose_ana-lfric2um-{{build}}-{{config}}

                generate_weights-lfric2um-{{config}} => \
                lfric2um-{{build}}-{{config}}
  {% endif %}

{% endif %}

{% if include_mode == "runtime" %}

  {% set util_name = "lfric2um" %}
  {% include "templates/template_builds.rc" %}

    [[lfric2um-{{build}}-{{config}}]]
        inherit = {{build_family}}, {{queue_fam}}, METO_{{platform_fam}}_{{num_tasks}}_TASKS, {{platform_fam}}
        env-script = "eval $(rose task-env)"
        script = "{{TASK_RUN}} --path= --path='share/fcm_make-lfric2um-{{build}}/build/bin'"
	post-script = """
                      find . -regex '.*PET0+\..+\.Log' -exec cp {} $ROSE_TASK_LOG_DIR \;
                      find . -regex '.*PET0+\..+\.Log' -exec cat {} \;
                      """
        [[[environment]]]
            ROSE_TASK_APP = {{lfric2um_configs[config]["app"]}}
            ROSE_APP_OPT_CONF_KEYS = {{lfric2um_configs[config]["opt_config"]}}
            NUMBER_OF_LAYERS = {{lfric2um_configs[config]["source_grid_levs"]}}
            SOURCE_DUMP = {{lfric2um_configs[config]["source_dump"]}}
            LFRIC_MESH_FILE = {{lfric2um_configs[config]["lfric_mesh"]["file"]}}
            LFRIC_MESH_NAME = {{lfric2um_configs[config]["lfric_mesh"]["name"]}}
            WEIGHT_LOC = $ROSE_SUITE_DIR_REL/work/1/generate_weights-lfric2um-{{config}}

    {% set task_name = "lfric2um-" + build + "-" + config %}
    [[rose_ana-lfric2um-{{build}}-{{config}}]]
        inherit = {{rose_ana_family}}, METO_{{platform_fam}}_1_TASKS, {{platform_fam}}
        [[[environment]]]
            SUITE_DIR=../lfric2um-{{build}}-{{config}}
            KGO_DIR={{kgo_dir_base}}/{{task_name}}/{{KGO_DIRS[task_name]|default("no_kgo_var")}}
            ROSE_TASK_APP=rose_ana_lfric2um

{% endif %}
