{# Set up integration specific runtime tasks #}

{% set um2lfric_config = "aquaplanet_N48L38_C48L38" %}
{% set lfric2um_config = "aquaplanet_C48L38_N48L38" %}

{% if include_mode == "graph" %}

                fcm_make-um2lfric-{{build}} => \
                configurate-um2lfric-{{build}} => \
                psyclone-um2lfric-{{build}} => \
                fcm_make2-um2lfric-{{build}}

                fcm_make-lfric2um-{{build}} => \
                configurate-lfric2um-{{build}} => \
                psyclone-lfric2um-{{build}} => \
                fcm_make2-lfric2um-{{build}}


  {% if "crayftn" not in build %}
                fcm_make2-um2lfric-{{build}} => \
                um2lfric-{{build}}-{{um2lfric_config}}_um2um

                fcm_make2-lfric2um-{{build}} => \
                lfric2um-{{build}}-{{lfric2um_config}}_um2um

                generate_weights-um2lfric-{{um2lfric_config}} => \
                um2lfric-{{build}}-{{um2lfric_config}}_um2um

                generate_weights-lfric2um-{{lfric2um_config}} => \
                lfric2um-{{build}}-{{lfric2um_config}}_um2um

                um2lfric-{{build}}-{{um2lfric_config}}_um2um => \
                lfric2um-{{build}}-{{lfric2um_config}}_um2um => \
                rose_ana-integration-{{build}}-um2um
  {% endif %}

{% endif %}

{% if include_mode == "runtime" %}

  {% set util_name = "um2lfric" %}
  {% include "templates/template_builds.rc" %}

    [[um2lfric-{{build}}-{{um2lfric_config}}_um2um]]
        inherit = {{build_family}}, {{queue_fam}}, METO_{{platform_fam}}_{{num_tasks}}_TASKS, {{platform_fam}}
        env-script = "eval $(rose task-env)"
        script = "{{TASK_RUN}} --path= --path='share/fcm_make-um2lfric-{{build}}/build/bin'"
	post-script = """
                      find . -regex '.*PET0+\..+\.Log' -exec cp {} $ROSE_TASK_LOG_DIR \;
                      find . -regex '.*PET0+\..+\.Log' -exec cat {} \;
                      """
        [[[environment]]]
            ROSE_TASK_APP = {{um2lfric_configs[um2lfric_config]["app"]}}
            ROSE_APP_OPT_CONF_KEYS = {{um2lfric_configs[um2lfric_config]["opt_config"]}}
            NUMBER_OF_LAYERS = {{um2lfric_configs[um2lfric_config]["target_grid_levs"]}}
            SOURCE_DUMP = {{um2lfric_configs[um2lfric_config]["source_dump"]}}
            LFRIC_MESH_FILE = {{um2lfric_configs[um2lfric_config]["lfric_mesh"]["file"]}}
            LFRIC_MESH_NAME = {{um2lfric_configs[um2lfric_config]["lfric_mesh"]["name"]}}
            WEIGHT_LOC = $ROSE_SUITE_DIR_REL/work/1/generate_weights-um2lfric-{{um2lfric_config}}

  {% set util_name = "lfric2um" %}
  {% include "templates/template_builds.rc" %}

    [[lfric2um-{{build}}-{{lfric2um_config}}_um2um]]
        inherit = {{build_family}}, {{queue_fam}}, METO_{{platform_fam}}_{{num_tasks}}_TASKS, {{platform_fam}}
        env-script = "eval $(rose task-env)"
        script = "{{TASK_RUN}} --path= --path='share/fcm_make-lfric2um-{{build}}/build/bin'"
	post-script = """
                      find . -regex '.*PET0+\..+\.Log' -exec cp {} $ROSE_TASK_LOG_DIR \;
                      find . -regex '.*PET0+\..+\.Log' -exec cat {} \;
                      """
        [[[environment]]]
            ROSE_TASK_APP = {{lfric2um_configs[lfric2um_config]["app"]}}
            ROSE_APP_OPT_CONF_KEYS = {{lfric2um_configs[lfric2um_config]["opt_config"]}}
            NUMBER_OF_LAYERS = {{lfric2um_configs[lfric2um_config]["source_grid_levs"]}}
            SOURCE_DUMP = $ROSE_SUITE_DIR/work/1/um2lfric-{{build}}-{{um2lfric_config}}_um2um/checkpoint_um2lfric_000001.nc
            LFRIC_MESH_FILE = {{lfric2um_configs[lfric2um_config]["lfric_mesh"]["file"]}}
            LFRIC_MESH_NAME = {{lfric2um_configs[lfric2um_config]["lfric_mesh"]["name"]}}
            WEIGHT_LOC = $ROSE_SUITE_DIR_REL/work/1/generate_weights-lfric2um-{{lfric2um_config}}

    {% set task_name = "integration-" + build + "-um2um" %}
    [[rose_ana-integration-{{build}}-um2um]]
        inherit = {{rose_ana_family}}, METO_{{platform_fam}}_1_TASKS, {{platform_fam}}
        [[[environment]]]
            SUITE_DIR=../lfric2um-{{build}}-{{lfric2um_config}}_um2um
            KGO_DIR={{kgo_dir_base}}/{{task_name}}/{{KGO_DIRS[task_name]|default("no_kgo_var")}}
            ROSE_TASK_APP=rose_ana_um2um

{% endif %}
