{# Here we set a dictionary of jobs used in exoplanets development. #}
{# These can then be imported into the main rose stem groups as required. #}

{%- set exoplanets_groups = {
  'thai_ben1': [
    'run_application("lfric_atm", "thai_ben1", checkkgo=False,
                            resolutions=[("C48_MG",1200.0)],
                            env={"crun":40, "nrun":2160,
                            "directives":{"C48_MG":{"mpi_parts":216,
                                                    "threads":1,
                                                    "wallclock":"00:25:00"},
                                         },
                            },
			    plotstr="plot_map.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR"
                           )',
  ],
  'thai_ben2': [
    'run_application("lfric_atm", "thai_ben2", checkkgo=False,
                            resolutions=[("C48_MG",1200.0)],
                            env={"crun":40, "nrun":2160,
                            "directives":{"C48_MG":{"mpi_parts":216,
                                                    "threads":1,
                                                    "wallclock":"00:35:00"},
                                         },
                            },
			    plotstr="plot_map.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR"
                           )',
  ],
  'thai_hab1': [
    'run_application("lfric_atm", "thai_hab1", checkkgo=False,
                            resolutions=[("C48_MG",1200.0)],
                            env={"crun":40, "nrun":2160,
                            "directives":{"C48_MG":{"mpi_parts":216,
                                                    "threads":1,
                                                    "wallclock":"00:30:00"},
                                         },
                            },
			    plotstr="plot_map.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR"
                           )',
  ],
  'thai_hab2': [
    'run_application("lfric_atm", "thai_hab2", checkkgo=False,
                            resolutions=[("C48_MG",1200.0)],
                            env={"crun":40, "nrun":2160,
                            "directives":{"C48_MG":{"mpi_parts":216,
                                                    "threads":1,
                                                    "wallclock":"00:45:00"},
                                         },
                            },
			    plotstr="plot_map.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR"
                           )',
  ],
}
%}

{# If we want to run all the tests in one go, then collect them into a single group #}
{% if 'exoplanets-all' not in exoplanets_groups.keys() %}
{%   do exoplanets_groups.update({'exoplanets-all':[]}) %}
{% endif %}
{% for exoplanets_subgroup in exoplanets_groups.keys() %}
{%   if exoplanets_subgroup != 'exoplanets-all' %}
{%     do exoplanets_groups['exoplanets-all'].extend(exoplanets_groups[exoplanets_subgroup]) %}
{%   endif %}
{% endfor %}
